* {
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin: auto;
    width: 550px;
    height: 100vh;
}

header, footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

header > section {
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

header > section:first-child {
    display: grid;
    place-items: center;
}

header > section:first-child > div {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    height: 100%;
}

header > section:first-child > div > button {
    width: 40%;
    height: 80%;
    margin: 4%;
    font-size: 2rem;
}

header > section:first-child > div:nth-child(2) {
    display: none;
    border: 1px solid black;
}

header > section:first-child > div:nth-child(2) > h1 {
 text-align: center;
 height: 50%;
}

/* header > section:first-child > div:nth-child(2) > h1 > p {
    height: 50%;
} */

header > section:first-child > div:nth-child(2) > form {
    width: 50%;
    margin: auto;
    text-align: center;
}

header > section:first-child > div:nth-child(2) > h1 > p:first-child {
    text-align: center;
    font-size: xx-large;
}

header > section:first-child > div:nth-child(2) > h1 > p:nth-child(2) {
    display: flex;
    justify-content: space-around;
}

header > section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 1.5%;
    align-items: center;
}

header > section:nth-child(2) > * {
    margin-bottom: 10px;
    border: 1px solid red;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

main > section:first-child {
    width: 21%;
    height: 100%;
    border: 1px black solid;
}

main > section:nth-child(2) {
    display: grid;
    place-items: center;
    width: 65%;
    height: 100%;
    color: purple;
    font-size: 1.8rem;
}

main > section:nth-child(2) > button {
    padding: 2%;
    max-width: 100%;
}

main > section:nth-child(2) > button > img {
    max-width: 100%;
    max-height: 350px;
}

main > section:nth-child(3) {
    background-image: linear-gradient( white,red);
    width: 10%;
    align-self: flex-end;
}

footer {
    display: grid;
    place-items: center;
    font-size: xx-large;
}

